.ani1{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border: 1px solid goldenrod;
}

.ani2{
    width: 100px;
    height: 100px;
    background-color: royalblue;
    border: 1px solid goldenrod;
}